# Security
DEBUG=True
SECRET_KEY=django-insecure-local-dev-key-change-in-production
#for testing
ALLOWED_HOSTS = ["127.0.0.1"]

# AI Service (Google Gemini)
GEMINI_API_KEY= gemini_api_key_here

# GitHub Ingestion (Optional for higher rate limits)
GITHUB_TOKEN = personal_access_token_here